body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.main-header {
  color: #000000;
  background: #eeeeee;
}


/*Хедер*/

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.main-header-top {
  padding-top: 27px;
}

.index-logo {
  float: left;
  display: block;
  width: 139px;
  height: 56px;
  margin-right: 160px;
}

.main-navigation {
  float: left;
  width: 460px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  text-transform: uppercase;
  padding: 0 23px;
  margin-left: -1px;
}

.main-navigation a {
  display: block;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}


/*Наведение*/

.main-navigation a:hover {
  color: #fb565a;
}


/*Нажатие*/

.main-navigation a:active {
  color: #000000;
  opacity: 0.4;
}


/*Находимся на странице*/

.main-navigation .active > a {
  border-bottom: 2px solid #fb565a;
  color: #000000;
  opacity: 1.0;
}

.user-block {
  margin-top: 25px;
  position: relative;
  float: right;
  max-width: 140px;
  padding-left: 30px;
}

.basket {
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}
.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-basket.png");
  opacity: 0.3;
}

/*.basket .icon-basket {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-basket.png");
  opacity: 0.3;
}
*/

/*Наведение*/

.basket:hover {
  color: #fb565a;
}

.basket:hover::before {
  background-image: url("../img/icon-basket-red.png");
  opacity: 1.0;
}

/*Нажатие*/

.basket:active {
  color: #000000;
  opacity: 0.4;
}

.basket:active .icon-basket {
  background-image: url("../img/icon-basket.png");
  opacity: 0.15;
}


/*Слайдер*/

.slider {
  position: relative;
  width: 880px;
  min-height: 310px;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slide-text {
  width: 500px;
  padding: 30px 0;
}

.slide-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.slide p {
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}

.slide .btn-slide {
  display: block;
  width: 220px;
  margin-top: 25px;
  padding: 12px 10px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url("../img/slider-img1.png");
}

.slide:nth-child(2) {
  background-image: url("../img/slider-img2.png");
}

.slide:nth-child(3) {
  background-image: url("../img/slider-img3.png");
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.features-promo .features {
  margin-top: 80px;
  padding-bottom: 80px;
  font-size: 0;
  border-bottom: 2px solid #eeeeee;
}

.features-item {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  margin-right: 80px;
  width: 240px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.features-item p {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 27px;
}

.btn {
  display: block;
  width: 62px;
  padding: 10px 40px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
}

.btn-site {
  background-color: #fb565a;
}

.btn-site:hover {
  background-color: #d6494d;
}

.btn-site:active {
  background: #b63538;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.btn-app {
  background-color: #00ca74;
}

.btn-app:hover {
  background-color: #01a25e;
}

.btn-app:active {
  background: #009053;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.btn-presentations {
  background-color: #efc84a;
}

.btn-presentations:hover {
  background-color: #d6ae2c;
}

.btn-presentations:active {
  background: #c09b24;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.index-content {
  margin-top: 70px;
  margin-bottom: 60px;
}

.index-content .title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.index-content-top {
  margin-bottom: 15px;
}

.index-content-left {
  float: left;
  width: 575px;
}

.index-content-right {
  float: right;
  width: 240px;
  margin-left: 10px;
}

.index-content p,
.index-content h3,
.index-content li,
.index-content span {
  font-weight: 400;
}

.index-content-right img {
  display: block;
  margin-bottom: 26px;
  margin-left: 32px;
  margin-top: -11px;
}

.index-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  letter-spacing: 0.1px;
}

.index-content li {
  position: relative;
  padding: 11px 0;
  padding-left: 35px;
  color: #283136;
}

.index-content-bottom li:before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 25px;
  height: 2px;
  background: #fb565a;
}


/*Портфолио*/

.portfolio {
  margin-top: 68px;
  margin-bottom: 90px;
  border-bottom: 2px solid #eeeeee;
}

.portfolio-list {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.portfolio-list li {
  display: inline-block;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 26px;
  margin-right: 103px;
  vertical-align: middle;
  list-style: none;
}

.portfolio-list li:last-child {
  margin-right: 0;
}

.portfolio-list a {
  opacity: 0.2;
}

.portfolio-list a:hover,
.portfolio-list a:active {
  opacity: 1.0;
}


/*Стили каталога*/

.inner-page .main-header-top {
  margin-bottom: 22px;
}

.inner-page h1 {
  
  float: left;
  width: 660px;
  margin: 0 auto;
  margin-left: 107px;
  margin-top: 65px;
  margin-bottom: 86px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.inner-page .modal-content {
  display: none;
}

main {
  
}

.sidebar {
  float: left;
  width: 245px;
  margin-top: 37px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 36px;
  margin-bottom: 14px;
  background: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 27px;
  left: 0;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
  outline: none;
}

.min-price {
  text-align: left;
  text-transform: uppercase;
}
.max-price {
  text-align: right;
  text-transform: uppercase;
}

.filter h2 {
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.range,
.layout-field,
.features {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.range {
  margin-bottom: 45px;
}

.layout-field {
  margin-bottom: 20px;
}


.layout-field .filter-radio {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  cursor: pointer;
}

.layout-field .filter-radio:hover {
  color: #000000;
}


.filter-radio input[type="radio"] {
  display: none;
}

.filter-radio span {
  margin-right: 10px;
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.filter-radio span:hover {
  color: #b5b5b5;
}


.filter-radio .icon-circle-dot {
  display: none;
  position: absolute;
  top: -5px;
  left: -7px;
}

.filter-radio .icon-circle {
  position: absolute;
  top: -5px;
  left: -7px;
}

.filter-radio input[type="radio"]:checked ~ .icon-circle-dot {
  display: block;
}

.filter-radio input[type="radio"]:checked ~ .icon-circle {
  display: none;
}

.filter-radio .icon-circle {
  position: absolute;
  top: 3px;
  left: 1px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow:  0 0 0 2px rgba(35, 31, 32, 0.2);
}

.filter-radio .icon-circle-dot {
  position: absolute;
  top: 6px;
  left: 4px;
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: rgba(35, 31, 32, 0.2);
  border-radius: 50%;
}


.features {
  margin-top: 45px;
  margin-bottom: 55px;
}
.features-field {
  margin-bottom: 20px;
}

.features-field .filter-checkbox {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  cursor: pointer;
}

.features-field .filter-checkbox:hover {
  color: #000000;
}

.filter-checkbox input[type="checkbox"] {
  display: none;
}

.filter-checkbox span {
  margin-right: 10px;
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.filter-checkbox span:hover {
  color: #b5b5b5;
}


.filter-checkbox .icon-check-on {
  display: none;
  position: absolute;
  top: -5px;
  left: -7px;
}

.filter-checkbox .icon-check-off {
  position: absolute;
  top: -5px;
  left: -7px;
}

.filter-checkbox input[type="checkbox"]:checked ~ .icon-check-on {
  display: block;
}

.filter-checkbox input[type="checkbox"]:checked ~ .icon-check-off {
  display: none;
}

.filter .btn {
  width: 160px;
  padding: 12px 45px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background: #f1f1f1;
  border: 0;
  border-radius: 3px;
  outline: 0;
}

.filter .btn:hover {
  background: #e5e5e5;
}

.filter .btn:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.index-content-catalog {
  float: right;
  width: 560px;
  margin-top: 55px;
}

.gallery {
  font-size: 0;
}

.gallery-item {
  position: relative;
  display: inline-block;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;
  font-size: 14px;
  vertical-align: top;
}

.gallery-item img {
  display: block;
}

.gallery-item .browser-img {
  opacity: 0.1;
}

.gallery-item:nth-child(2n) {
  margin-right: 0;
}

.gallery-item-description {
  position: absolute;
  top: 50px;
  left: 20px;
  display: none;
  width: 160px;
  height: 135px;
  padding: 0 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
}

.gallery-item:hover .gallery-item-description {
  display: block;
}

.gallery-item:hover .browser-img {
  opacity: 1.0;
}

.gallery-item-name {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
}

.gallery-item-name h2 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.gallery-item-description p {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #283136;
}

.gallery-item-description .btn {
  display: block;
  width: 75px;
  margin: 0 auto;
  padding: 15px 32px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 8.56px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #fb565a;
  border-radius: 3px;
}

.gallery-item-description .btn:hover {
  background: #d6494d;
}

.gallery-item-description .btn:active {
  background: #b63538;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.gallery-sorting-tools {
  min-height: 20px;
  margin-bottom: 20px;
}

.gallery-sorting-tools p {
  float: left;
  width: 90px;
  margin: 0;
  margin-right: 8px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-btn-wrapper {
  float: left;
  width: 360px;
  font-size: 0;
  text-align: center;
}

.sorting-btn {
  display: inline-block;
  margin-right: 45px;
  padding-top: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #00ca74;
}

.sorting-btn:nth-child(3n) {
  margin-right: 0;
}

.sorting-btn:hover {
  border-bottom: 1px solid #00ca74;
  opacity: 1.0;
}

.sorting-btn:active,
.sorting-btn:checked {
  opacity: 1.0;
  border: none;
}

.sorting-item-wrapper {
  position: relative;
  float: right;
  width: 75px;
  margin-top: 5px;
}

.sorting-item-wrapper .sorting-item {
  font-size: 0;
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.sorting-item span {
  font-size: 20px;
  line-height: 23px;
  color: #c1c1c1;
}

.sorting-item span:hover {
  color: #b5b5b5;
}

.sorting-item span:active {
  color: #000000;
}

.sorting-item span:checked {
  color: #00ca74;
}

.sorting-item-wrapper .icon-up-dir {
  position: absolute;
  top: -5px;
  right: -10px;
}

.sorting-item-wrapper .icon-down-dir {
  position: absolute;
  top: -5px;
  right: 5px;
}

.gallery-paginator {
  font-size: 0;
}

.gallery-paginator .btn {
  display: inline-block;
  padding: 12px 15px;
  margin-right: 12px;
  width: auto;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
  text-decoration: none;
  color: #000000;
  background: #f1f1f1;
  border-radius: 3px;
}

.gallery-paginator .btn:hover {
  background: #e5e5e5;
}

.gallery-paginator .btn:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.gallery-paginator .btn-active,
.gallery-paginator .btn-active:hover,
.gallery-paginator .btn-active:active {
  box-shadow: inset 0 0 0 2px #e5e5e5;
  background: #ffffff;
}

.gallery-paginator .gallery-next {
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}


/*Карта*/

.map {
  clear: both;
  position: relative;
  min-height: 416px;
  margin: 74px auto;
  margin-bottom: 75px;
  width: 100%;
  background-color: #ffffff;
}

.map-info {
  z-index: 1;
  position: absolute;
  width: 210px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  color: #666666;
  top: 88px;
  left: 192px;
  background-color: #ffffff;
  border-radius: 2px;
}

.map-info h2 {
  color: #000000;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.map-info p {
  margin 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.map-info span {
  display: block;
  margin-top: 16px;
}

.map-canvas {
  background-color: #ffffff;
  width: 100%;
  min-height: 416px;
}

.contact-btn {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 54px;
  padding-right: 56px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 2px;
  margin-top: 24px;
  margin-bottom: 26px;
}

.main-footer {
  vertical-align: top;
  min-height: 141px;
}

.footer-socials {
  padding: 0;
  margin: 0;
  float: left;
  width: 240px;
  min-height: 40px;
}

.social-btn {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  font-size: 0;
  border-radius: 50%;
  margin-right: 20px;
  padding: 0;
  background-color: #000000;
  
  opacity: 0.2;
}

.icon-vk::before {
  content: "";
  position: absolute;
  display: inline-block;
  z-index: 2;
  background-image: url("/img/sprite.png");
  top: 17px;
  left: 16px;
  width: 26px;
  height: 25px;
  background-position: -55px -275px;
  
}

.icon-fb::before {
  content: "";
  position: absolute;
  display: inline-block;
  z-index: 2;
  background-image: url("/img/sprite.png");
  top: 17px;
  left: 16px;
  width: 26px;
  height: 25px;
  background-position: -47px -130px;
  
}


.icon-inst::before {
  content: "";
  position: absolute;
  display: inline-block;
  z-index: 2;
  background-image: url("/img/sprite.png");
  top: 17px;
  left: 16px;
  width: 26px;
  height: 25px;
  background-position: -51px -170px;
  
}


.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
  background: #fb565a;
  opacity: 1;
}

.social-btn:active {
  background: #d6494d;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.footer-text {
  float: right;
  width: 560px;
}

.footer-text h4 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-text p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  color: #283136;
}
